# ----- PostgreSQL (utilisé par le service docker-compose) -----
POSTGRES_USER=aniverse
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=aniverse

# ----- App -----
JWT_SECRET=change_me_long_random_string
RESEND_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CLOUDINARY_URL=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
